ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: my-awesome-counter;
  font-size: 6rem;
  gap: 1rem;
  margin-inline: 5rem;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: rgba(128, 128, 128, 0.525);
  font-weight: bold;
}
